<h1>This the secret page</h1>
<p>You found me!</p>
<img src="https://vignette.wikia.nocookie.net/spongebob/images/6/61/Sb_xmasparty.jpg/revision/latest?cb=20130420022943">
<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">Logout!</a></li>
<li><a href="/login">Login!</a></li>