<% include partials/header %>
<h1> This is the home page</h1>
<img src="https://tackthis.blob.core.windows.net/products/193716/original/1523422485_CMS_Creative_164657191_Kingfisher.jpg">
<% include partials/footer %>